*
{
    margin:     0;
    padding:    0;

    box-sizing: border-box;
}

html, body
{   
    height: 100svh;
    width:  100%;

    -ms-overflow-style: none; 
    scrollbar-width:    none; 
    
    overflow-y:         hidden;
    overflow-x:         hidden;
    
    font-family: 'Roboto', sans-serif;

    background-color: #233243;

    background-image:       url("../IMG/wave.svg");
    background-position:    center;
    background-repeat:      no-repeat;
    background-size:        cover;
}

body::-webkit-scrollbar 
{
    display: none;
}

header
{
    height: 10%;

    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    100;
    color:          #f28617;

    display: flex;

    border-bottom: #f28617 solid 2px;

    background-image:   url("../IMG/trianglify-lowres.png");
    background-repeat:  no-repeat;
    background-size:    cover;
}

#bannerLogo
{
    height: 100%;
    width:  50%;

    padding-left:   1rem;
    padding-top:    0.4rem;
    padding-bottom: 0.4rem;

    display:            flex;
    align-items:        center;
    justify-content:    left;

}

#bannerLogo img
{
    height: 100%;
}

#bannerText
{
    height: 100%;
    width:  50%;

    padding-right:  1rem;
    padding-bottom: 0.4rem;

    display:            flex;
    align-items:        end;
    justify-content:    right;

}

main
{
    height: 90%;
   
}

/******************************************************** 
Iniciar a modificar el contenido del cuerpo abajo...
********************************************************/

section
{
    height: 50%;
    width:  100%;

    font-size:      clamp(0.5rem, 1.5rem, 2rem);
    font-weight:    100;
    color:          #f28617;

}

.upperSecRow
{
    height: 33%;
}

#formText
{
    
    display:            flex;
    align-items:        end;
    justify-content:    center;

}

#searchFormDiv
{
    display:            flex;
    align-items:        center;
    justify-content:    center;
     
}

#searchInput
{
    height: 100%;
    width:  70%;

    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    100;
    text-align:     center;

    display:            flex;
    align-items:        center;
    justify-content:    center;

}

#searchInput input
{
    height: 50%;
    width:  90%;

    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    100;
    text-align:     center;

    display:            flex;
    align-items:        center;
    justify-content:    center;

    border: none;
    border-radius: 5px;

}

#searchBtn
{
    height: 100%;
    width:  30%;

    font-size:      clamp(0.5rem, 1rem, 2rem);
    font-weight:    100;
    text-align:     center;

    display:            flex;
    align-items:        center;
    justify-content:    center;

}

.infoText
{
    margin-left:  0.25rem;
    margin-right: 0.25rem;

    color:              #f28617;

    display:            flex;
    align-items:        center;
    justify-content:    center;

}

.errorDisplay
{
    margin-left:  0.25rem;
    margin-right: 0.25rem;

    font-size:          clamp(0.5rem, 1rem, 2rem);
    font-weight:        100;
    color:              white;
    background-color:   red;
    
    display:            flex;
    align-items:        center;
    justify-content:    center;

    opacity: 0.5;

    border-radius: 5px;

}

#lowerSection
{
    display: grid;
    grid-template-rows: auto auto;

}

.gridRow
{
    display:            flex;
    align-items:        center;
    justify-content:    center;
}

/******************************************************** 
Estilos reutilizables de botónes...
********************************************************/

.btn
{
    height: 80px;   
    width:  250px;   

    margin: 0.5rem;

    display: flex;
    
}

.btn_right
{
    height: 100%;
    width:  70%;

    font-size:      clamp(0.5rem, 1.25rem, 3rem);
    font-weight:    100;

    color: #fff;

    display:            flex;
    align-items:        center;
    justify-content:    center;

    border-top-right-radius:    5px;
    border-bottom-right-radius: 5px;

    background-color: #f28617;

}

.btn_left
{
    height: 100%;
    width:  30%;

    display:            flex;
    align-items:        center;
    justify-content:    center;

    border-top-left-radius:    5px;
    border-bottom-left-radius: 5px;

    background-color: #b46311;

}

.btn img
{
    height: 60%;
}

.smallBtn
{
    height: 40px;   
    width:  200px;   

    margin: 0.5rem;

    display: flex;
}

.smallBtn_right
{
    height: 100%;
    width:  70%;

    font-size:      clamp(0.5rem, 0.85rem, 3rem);
    font-weight:    100;

    color: #fff;

    display:            flex;
    align-items:        center;
    justify-content:    center;

    border-top-right-radius:    5px;
    border-bottom-right-radius: 5px;

    background-color: #f28617;

}

.smallBtn_left
{
    height: 100%;
    width:  30%;

    display:            flex;
    align-items:        center;
    justify-content:    center;

    border-top-left-radius:    5px;
    border-bottom-left-radius: 5px;

    background-color: #b46311;

}

.smallBtn img
{
    height: 30%;
}